* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #1A1110;
  color: #ffffff;
  text-align: center;
  font-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  
}
.thumbnail{
  box-shadow: 5px 10px 20px black;
}


.logo{
  display: flex;

}
.image{
margin-top: 1.5rem;
margin-left: 1.5rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto Flex', sans-serif;
  margin-top: 2.5rem;
  margin-left: 1rem;
  
}

.heading {
  font-size: 4rem;
  font-family: 'Roboto Flex', sans-serif;
}

.download-container {
  flex:1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  
}
h6{
  margin-top:0.25rem;
  font-size:2em;
  font-family: 'Roboto Flex', sans-serif;
  

}

p{
  text-align: left;
  margin-top: 0.75rem;
  color:black;
  border:none;
  border-radius: 20px 0px 0px 20px;
  font-size:2vw;
  font-family: 'Roboto Flex', sans-serif;
  background-color:white;
  
}

.submit-button {
  
  background-color: #20C420;
  color: #ffffff;
  border: none;
  border-radius: 0 20px 20px 0;
  padding:10.5px;
  padding-bottom: 11.5px;
  font-size: 1.5vw;
  width: 30%;
  font-family: 'Roboto Flex', sans-serif;
  cursor: pointer;
}

.container-button {
  border-radius: 20px 20px 20px 20px;
  padding-left: 5px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
}
.submit-button:active {
  transform: translateY(1.5px);
}